apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: backstage-env-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  target:
    name: backstage-env-secret
  data:
  - secretKey: BACKEND_SECRET
    remoteRef:
      key: kv/rhads-dh
      property: backend_secret
  - secretKey: ARGOCD_USER
    remoteRef:
      key: kv/rhads-dh
      property: argocd_user
  - secretKey: ARGOCD_PASSWORD
    remoteRef:
      key: kv/rhads-dh
      property: argocd_password
  - secretKey: AUTH_OIDC_CLIENT_ID
    remoteRef:
      key: kv/rhads-dh
      property: auth_oidc_client_id
  - secretKey: AUTH_OIDC_CLIENT_SECRET
    remoteRef:
      key: kv/rhads-dh
      property: auth_oidc_client_secret
  - secretKey: KEYCLOAK_CLIENT_ID
    remoteRef:
      key: kv/rhads-dh
      property: keycloak_client_id
  - secretKey: KEYCLOAK_CLIENT_SECRET
    remoteRef:
      key: kv/rhads-dh
      property: keycloak_client_secret
  - secretKey: GITLAB_TOKEN
    remoteRef:
      key: kv/rhads-dh
      property: gitlab_token
  - secretKey: QUAY_API_TOKEN
    remoteRef:
      key: kv/rhads-dh
      property: quay_api_token
  - secretKey: K8S_SERVICEACCOUNT_TOKEN
    remoteRef:
      key: kv/rhads-dh
      property: k8s_serviceaccount_token

